---
import Layout from "../layouts/Layout.astro";
import { getEntry, getCollection } from "astro:content";
import ExperienceCard from "../components/ExperienceCard.astro";
import ProjectsCard from "../components/ProjectsCard.astro";

// Render about page content
const aboutPage = await getEntry("about", "index");
const { Content } = await aboutPage.render();
// Experiences
const experiences = await getCollection("experiences");
// Projects
const projects = await getCollection("projects");
// Footer
const footer = await getEntry("footer", "index");
const { Content: FooterContent } = await footer.render();
---

<Layout>
  <!-- About -->
  <section id="about" class="scroll-mt-12 lg:scroll-mt-24" aria-label="About me">
    <h2
      class="text-sm font-bold tracking-widest text-text dark:text-dark-text lg:sr-only sticky top-0 z-20 bg-bg/25 dark:bg-dark-bg/25 py-4 backdrop-blur"
    >
      ABOUT
    </h2>
    <div class="space-y-4 content dark:content-dark">
      <Content />
    </div>
  </section>
  <!-- Experiences -->
  <section id="experience" class="scroll-mt-12 lg:scroll-mt-24" aria-label="My jobs">
    <h2
      class="text-sm font-bold tracking-widest text-text dark:text-dark-text lg:sr-only sticky top-0 z-20 bg-bg/25 dark:bg-dark-bg/25 py-4 backdrop-blur"
    >
      EXPERIENCES
    </h2>
    <ol class="space-y-8">
      {experiences.map(async job => <ExperienceCard job={job} />)}
    </ol>
  </section>
  <!-- Projects -->
  <section id="projects" class="scroll-mt-12 lg:scroll-mt-24" aria-label="My featured projects">
    <h2
      class="text-sm font-bold tracking-widest text-text dark:text-dark-text lg:sr-only sticky top-0 z-20 bg-bg/25 dark:bg-dark-bg/25 py-4 backdrop-blur"
    >
      PROJECTS
    </h2>
    <ol class="space-y-8">
      {projects.map(async project => <ProjectsCard project={project} />)}
    </ol>
  </section>
  <!-- Footer -->
  <footer class="text-sm content dark:content-dark"><FooterContent /></footer>
</Layout>
